.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #14532d; /* dark green */
  color: white;
  padding-top: 20px;
}

.sidebar-group {
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
}

.sidebar-group:hover {
  background-color: #166534;
}

.sidebar-submenu {
  display: flex;
  flex-direction: column;
  background-color: #166534;
}

.sidebar-submenu a {
  padding: 8px 35px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.sidebar-submenu a:hover {
  background-color: #15803d;
}