html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


#root {
  min-height: 100vh;
}


.home-banner {
  width: 100vw;
  height: "80vh";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.home-banner h1 {
  font-size: 3rem;
  font-weight: bold;
}
