body, html {
  margin: 0;
  padding: 0;
}

.landing {
  background-image: url('./images/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.landing-content {
  padding: 50px;
  background-color: white;
}